@import "~bulma/sass/utilities/_all";
$primary : #191b44;
$secondary : #688096;
$primary-invert: findColorInvert($primary);
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
);

.icon {
  padding-right: 1rem;
}
