<template>
  <div>
    <nav
      class="navbar header has-shadow is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          NuxtJs +
          <img src="~assets/buefy.png" alt="Buefy" height="28" />
        </a>

        <div class="navbar-burger" v-on:click="menuToggle">
          <span />
          <span />
          <span />
        </div>
      </div>
      <div
        id="navbarBasicExample"
         :class="{ 'is-active': isHidden}"

         class="navbar-menu"
      >
        <div class="navbar-start"></div>

        <div class="navbar-end">
          <nuxt-link
            :to="item.to"
            exact-active-class="is-active"
            class="navbar-item"
            v-for="(item, key) of items"
            :key="key"
          >
            <b-icon :icon="item.icon" /> {{ item.title }}
          </nuxt-link>
        </div>
      </div>
    </nav>

    <section class="main-content columns">
      <div class="container column is-12">
        <nuxt />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isHidden: false,
      items: [
        {
          title: "Welcome",
          icon: "home",
          to: { name: "index" },
        },
        {
          title: "About",
          icon: "book",
          to: { name: "about" },
        },
        {
          title: "Contact",
          icon: "email",
          to: { name: "contact" },
        },
      ],
    };
  },
  methods: {

    menuToggle: function () {
      console.log(this.isHidden)
      this.isHidden = !this.isHidden;
    },
  },
};
</script>
