<template>
  <div class="container is-max-desktop">

  <section class="hero">
  <div class="hero-body">
    <p class="title">
      About
    </p>
    <p class="subtitle">
      About this project
    </p>
  </div>
</section>

<section class="section">
    <div class="columns is-mobile">

    </div>
  </section>

  </div>
</template>

<script>


export default {
  name: "About",

  components: {
  }
};
</script>
