<template>
<div class="container is-max-desktop">
    <section class="hero">
  <div class="hero-body">
    <p class="title">
      Welcome
    </p>

  </div>
</section>

   <section class="content">


      <h3>This is a demo application</h3>
      <ul class="list">
      <li>written with Nuxt.js</li>
      <li>styled with Bulma and Buefy </li>
      <li>code is managed with Gitlab</li>
      <li>deployed to and hosted on Netlify</li>
      </ul>



</section>

  <section class="section">
    <div class="columns is-mobile">


      <card title="Responsive" icon="cellphone-link">
        <b class="has-text-grey">
          Every
        </b>
        component is responsive
      </card>

      <card title="Modern" icon="alert-decagram">
        Built with
        <a href="https://vuejs.org/">
          Vue.js
        </a>
        and
        <a href="http://bulma.io/">
          Bulma
        </a>
      </card>


    </div>
  </section>
</div>
</template>

<script>
import Card from "~/components/Card";

export default {
  name: "HomePage",

  components: {
    Card
  }
};
</script>
